python-dotenv
pydantic-settings
pytest
pytest-asyncio
httpx
qdrant-client==1.9.1
fastapi
uvicorn
pydantic
python-multipart
SQLAlchemy>=2.0
aiomysql
aio-pika
boto3
python-docx
openpyxl
pypdf
PyMuPDF
FlagEmbedding
PyYAML
cryptography
