python-dotenv
pydantic-settings
pytest
pytest-asyncio
httpx
qdrant-client==1.9.1
fastapi
uvicorn
pydantic
python-multipart
SQLAlchemy==2.0.49
aiomysql==0.3.2
aio-pika
boto3
python-docx
openpyxl
pypdf
PyMuPDF
PyYAML
cryptography
aiolimiter